@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --body-color: #FAF7FD;
    --purple: #BB99DD;
  }
body{
    background-color: var(--body-color);
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#perfil{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 100%;
    padding: 2px;
    margin-bottom: -15px;
}

span{
    display: block;
    margin: 20px 0px 40px 0px;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--purple);
}

div{
    margin: 15px auto;
    border: 2px solid;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    margin: 40px 10px;
}